<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="email" type="Shuttle.Esb.EMail.EMailSection, Shuttle.Esb.EMail" />
    <section name="serviceBus" type="Shuttle.Esb.ServiceBusSection, Shuttle.Esb" />
  </configSections>

  <appSettings>
    <add key="AttachmentFolder" value=""/>
    <add key="azure" value="UseDevelopmentStorage=true" />
  </appSettings>

  <email
    host=""
    port="25"
    useDefaultCredentials="true"
    username=""
    password=""
    domain=""
    enableSsl="false"
    trackerExpiryInterval="00:00:15"
    trackerExpiryDuration="08:00:00" />

  <serviceBus>
    <queueFactories scan="false">                       
      <add type="Shuttle.Esb.AzureMQ.AzureStorageQueueFactory, Shuttle.Esb.AzureMQ" />
    </queueFactories>

    <inbox workQueueUri="azuremq://azure/email-server-inbox-work"
           deferredQueueUri="azuremq://azure/email-server-inbox-deferred"
           errorQueueUri="azuremq://azure/email-error"
           durationToIgnoreOnFailure="1s*5,5s,10s,30s" maximumFailureCount="8" />
  </serviceBus>
</configuration>