<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="email" type="Shuttle.Esb.EMail.EMailSection, Shuttle.Esb.EMail" />
    <section name="serviceBus" type="Shuttle.Esb.ServiceBusSection, Shuttle.Esb" />
  </configSections>

  <email
    host=""
    port="25"
    attachmentFolder=""
    useDefaultCredentials="true"
    username=""
    password=""
    domain=""
    enableSsl="false" />

  <serviceBus>
    <!--<inbox workQueueUri="" deferredQueueUri="" errorQueueUri="" />-->
  </serviceBus>
</configuration>