<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net40" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net40" />
  <package id="log4net" version="2.0.5" targetFramework="net40" />
  <package id="RabbitMQ.Client" version="3.5.7" targetFramework="net40" />
  <package id="Shuttle.Core.Data" version="3.2.14" targetFramework="net40" />
  <package id="Shuttle.Core.Host" version="3.2.10" targetFramework="net40" />
  <package id="Shuttle.Core.Infrastructure" version="4.1.11" targetFramework="net40" />
  <package id="Shuttle.Core.Log4Net" version="3.2.8" targetFramework="net40" />
  <package id="Shuttle.Esb" version="5.1.6" targetFramework="net40" />
  <package id="Shuttle.Esb.Castle" version="3.8.7" targetFramework="net40" />
  <package id="Shuttle.Esb.Msmq" version="3.8.5" targetFramework="net40" />
  <package id="Shuttle.Esb.RabbitMQ" version="3.9.5" targetFramework="net40" />
  <package id="Shuttle.Esb.SqlServer" version="3.8.8" targetFramework="net40" />
</packages>