<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="email" type="Shuttle.Esb.EMail.EMailSection, Shuttle.Esb.EMail" />
    <section name="serviceBus" type="Shuttle.Esb.ServiceBusSection, Shuttle.Esb" />
  </configSections>

  <appSettings>
    <add key="AttachmentFolder" value="" />
  </appSettings>

  <email
    emailClientType=""
    apiKey=""
    host=""
    port="25"
    useDefaultCredentials="true"
    username=""
    password=""
    domain=""
    enableSsl="false"
    trackerExpiryInterval="00:00:15"
    trackerExpiryDuration="08:00:00" />

  <serviceBus>
    <inbox
      workQueueUri=""
      deferredQueueUri=""
      errorQueueUri="" />
  </serviceBus>
</configuration>